<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Appointment</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    
    <% title = "Edit Appointment" %>
    <div class="container">
      <h1>Edit Appointment</h1>
      <form action="/api/appointments/edit/<%= appointment.id %>" method="POST">
          <label for="patient_id">Patient</label>
          <select id="patient_id" name="patient_id" required>
            <% patientList.forEach(patient => { %>
              <option value="<%= patient.id %>" <%= patient.id === appointment.patient_id ? 'selected' : '' %>><%= patient.name %></option>
            <% }) %>
          </select>
          <label for="doctor_id">Doctor</label>
          <select id="doctor_id" name="doctor_id" required>
            <% doctorList.forEach(doctor => { %>
              <option value="<%= doctor.id %>" <%= doctor.id === appointment.doctor_id ? 'selected' : '' %>><%= doctor.name %></option>
            <% }) %>
          </select>
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="<%= appointment.date%>" required />
            <label for="time">Time</label>
            <input type="time" id="time" name="time" value="<%= appointment.timeSlot %>" required />
        <button type="submit" class="btn btn-save">Save</button>
      </form>
    </div>
  </body>
</html>
